@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Fredericka+the+Great&family=Playfair+Display+SC:wght@700&family=Poiret+One&display=swap');

body {
    min-height: 100vh;
    max-width: 100vw;
    background-image: url("https://wallpaperaccess.com/full/1150753.jpg"); 
    backdrop-filter: blur(4px);
    margin: 0 auto;
    font-family: 'Fredericka the Great', cursive;
}

.title {
    text-align: center;
    color: white;
    letter-spacing: 0.3em;
}

.masterContainer {
    /* border: 5px solid; */
    display: flex;
    justify-content: flex-start;
}

.textContainer {
    /* border: 5px solid; */
    height: 600px;
    width: 75vw;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#verseName {
    border: 5px solid;
    border-radius: 40%;
    background-color: lemonchiffon;
    margin: 10px 10px 40px 10px;
    height: 70px;
    width: 500px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#verseText {
    border: 5px solid;
    border-radius: 5%;
    background-color: lemonchiffon;
    margin: 10px;
    height: 400px;
    width: 900px;
    font-size: 30px;
    padding: 20px;
    overflow: scroll;
}

.numberContainer {
    /* border: 5px solid; */
    margin: 10px;
    width: 25vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.heading {
    margin-bottom: 5px;
    font-size: 35px;
    font-weight: bold;
    color: white;
    letter-spacing: 0.2em;
}

.numberObject {
    margin: 0px 10px 50px 10px;
    border: 3px solid;
    border-radius: 30%;
    background-color: lemonchiffon;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 200px;
}


.search {
    text-align: center;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inputBar {
    height: 5vh;
    width: 50vw;
    font-size: 20px;
    font-weight: bold;
    padding: 7px;
    background: rgba(174, 157, 157, 0.7);
}

#searchButton {
    height: 7vh;
    width: 10vw;
    font-size: 20px;
    padding: 10px;
    background: rgba(174, 157, 157, 0.9);
}


